body {
    width: 100%;
    /* heightは後で未指定にするかも。 */
    height: 100%;
    margin: 0;
    padding: 0;
}

/* View port基準の親ブロック */
.parent {
    margin: 10px auto;
    width: 50vw;
    height: 50vh;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #80bbff;
}

/* サイズが決め打ちの親ブロック */
.static-parent {
    margin: 10px auto;
    width: 320px;
    height: 320px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #80bbff;
}

/* 半分サイズの子ブロック */
.child {
    margin: 10px auto;
    width: 25vw;
    height: 25vh;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #78ff8e;
}